/* Custom styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
}

.col-md-6 {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

p {
    margin-bottom: 10px;
}

strong {
    color: #343a40;
}

#logoutBtn {
    margin-top: 15px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .col-md-6 {
        margin-bottom: 20px;
    }
}

/* Bootstrap styles */
.jumbotron {
    background-color: #007bff;
    color: #fff;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}
